<div *ngIf="problem" class="center">
	<h2>{{problem.title | uppercase}}</h2>
	<div><b>Zagwozdka {{problem.problemId}}</b></div>
	<div>
		<p>{{problem.description}}</p>
	</div>
	<div fxLayout="row" *ngIf="(LoginStatus$ | async)" class="center">
		<form [formGroup]="formModel" (ngSubmit)="onSubmit()" autocomplete="off">
			<input matInput placeholder="Odpowiedź" formControlName="Answer">
			<button mat-stroked-button color="primary" class="btn-block">Odpowiedz</button>
		</form>
	</div>
	<button (click)="goBack()">go back</button>
</div>
