<mat-card *ngIf="problem" class="center">
	<h2>{{problem.title | uppercase}}</h2>
	<div><b>Zagwozdka {{problem.problemId}}</b></div>
	<div>
		<p>{{problem.description}}</p>
	</div>
	<div fxLayout="row" *ngIf="(LoginStatus$ | async) && !problem.result" class="center">
		<form [formGroup]="formModel" (ngSubmit)="onSubmit()" autocomplete="off" class="example-form">
			<mat-form-field class="example-full-width">
				<mat-label>Podaj odpowiedź</mat-label>
				<input matInput placeholder="Odpowiedź" formControlName="Answer">
			</mat-form-field>
			<button mat-stroked-button color="primary" class="btn-block">Odpowiedz</button>
		</form>
	</div>
	<div fxLayout="column" *ngIf="(LoginStatus$ | async) && problem.result" class="center">
		<p>Odpowiedź: {{problem.result.answer}}</p>
		<p>Rozwiązano: {{problem.result.solvedDate}}</p>
	</div>
	<button (click)="goBack()">go back</button>
</mat-card>
