<h1 class="center" style="margin-top: 20px" *ngIf="userName"><b>{{userName}}</b></h1>
<h3 class="center" *ngIf="history">Rozwiązano {{history.length}} zagwozdek spośród {{count}} dostępnych</h3>
<h4 class="center" style="margin-bottom: 2px">Postęp: </h4>
<div>
	<mat-progress-bar style="height: 17px"
					  class="center"
					  mode="determinate"
					  value="{{history.length/count*100}}"
					  *ngIf="history && count"
					  >
	</mat-progress-bar>
	<div class="center percentage-progress-bar"
		 *ngIf="history && count"
		 tooltip="Rozwiązono {{history.length/count*100 | number: '1.1-1'}}% problemów"
		 [options]="tooltipOptions">
		{{ history.length/count*100 | number: '1.1-1'}}%
	</div>
</div>

<mat-tab-group class="center" style="margin-top: 20px">
	<mat-tab label="Zagwozdki">
		<h2 style="margin-top: 13px">Rozwiązane zagwozdki</h2>
		<div style="overflow: hidden">
			<a *ngFor="let problem of problems"
			   [ngStyle]="{ background: problem.isSolved?'rgb('+getColor(problem.difficulty).join()+')':''}"
			   class="square no-select"
			   routerLink="/problem/{{problem.problemId}}"
			   tooltip="<b>Zagwozdka {{problem.problemId}}</b></br>
						Rozwiązana przez {{problem.solvedBy}} osób</br>
						Poziom trudności: {{problem.difficulty}}%</br>
						{{problem.solvedDate == null ? '':'Ukończono ' + problem.solvedDate + '</br>'}}
						&#34;{{problem.title}}&#34;"
			   [options]="tooltipOptions">
				{{problem.problemId}}
			</a>
		</div>
		<h2 style="margin-top: 27px">Postęp w rozwiązywaniu zagwozdek</h2>
		<mat-table [dataSource]="ratings" *ngIf="ratings" style="max-width: 520px">
			<ng-container matColumnDef="difficulty">
				<mat-header-cell *matHeaderCellDef [ngClass]="'w-75'"> Poziom trudności </mat-header-cell>
				<mat-cell *matCellDef="let row" [ngClass]="'w-75'"> {{row.difficulty}}% </mat-cell>
			</ng-container>

			<ng-container matColumnDef="available">
				<mat-header-cell *matHeaderCellDef [ngClass]="'w-75'"> Dostępne zagwozdki </mat-header-cell>
				<mat-cell *matCellDef="let row" [ngClass]="'w-75'">{{row.available}}</mat-cell>
			</ng-container>

			<ng-container matColumnDef="solved">
				<mat-header-cell *matHeaderCellDef [ngClass]="'w-75'"> Rozwiązane zagwozdki </mat-header-cell>
				<mat-cell *matCellDef="let row" [ngClass]="'w-75'"> {{row.solved}} </mat-cell>
			</ng-container>

			<ng-container matColumnDef="progress">
				<mat-header-cell *matHeaderCellDef [ngClass]="'w-250'"> Postęp </mat-header-cell>
				<mat-cell *matCellDef="let row" [ngClass]="'w-250'">
					<mat-progress-bar
						mode="determinate"
						value="{{row.progress * 100}}"
						tooltip="Rozwiązono {{row.progress * 100 | number: '1.1-1'}}% problemów o poziomie trudności {{row.difficulty}}%"
						[options]="tooltipOptions">

					</mat-progress-bar>
				</mat-cell>
			</ng-container>

			<mat-header-row *matHeaderRowDef="['difficulty', 'available', 'solved', 'progress']"></mat-header-row>
			<mat-row *matRowDef="let row; columns: ['difficulty', 'available', 'solved', 'progress']"></mat-row>
		</mat-table>
	</mat-tab>
	<mat-tab label="Historia">
		<h2 style="margin-top: 13px" *ngIf="history">Ostatnie {{history.length}} rozwiązanych zagwozdek</h2>
		<mat-table [dataSource]="history" *ngIf="history" style="max-width: 350px">
			<ng-container matColumnDef="index">
				<mat-header-cell *matHeaderCellDef [ngClass]="'w-30'"></mat-header-cell>
				<mat-cell *matCellDef="let row; let i = index;" [ngClass]="'w-30'">{{i + 1}}</mat-cell>
			</ng-container>

			<ng-container matColumnDef="problemId">
				<mat-header-cell *matHeaderCellDef [ngClass]="'w-120'"> Id zagwozdki </mat-header-cell>
				<mat-cell *matCellDef="let row" [ngClass]="'w-120'">
					<a routerLink="/problem/{{row.problemId}}"
					style="	color: #3f51b5; text-decoration: none; font-weight: 450;">
						Zagwozdka {{row.problemId}}
					</a>
				</mat-cell>
			</ng-container>

			<ng-container matColumnDef="solvedDate">
				<mat-header-cell *matHeaderCellDef [ngClass]="'w-250'"> Data rozwiązania </mat-header-cell>
				<mat-cell *matCellDef="let row" [ngClass]="'w-250'">{{row.solvedDate | date: "MM/dd/yyyy HH:mm:ss"}}</mat-cell>
			</ng-container>

			<mat-header-row *matHeaderRowDef="['index', 'problemId', 'solvedDate']"></mat-header-row>
			<mat-row *matRowDef="let row; columns: ['index', 'problemId', 'solvedDate']; let i = index" style="min-height: 30px"></mat-row>
		</mat-table>
	</mat-tab>
	<mat-tab label="Ranking">
		<h2 style="margin-top: 13px">Ranking użytkowników</h2>
		<mat-table [dataSource]="ranking" *ngIf="ranking" style="max-width: 485px">
			<ng-container matColumnDef="index">
				<mat-header-cell *matHeaderCellDef [ngClass]="'w-30'"></mat-header-cell>
				<mat-cell *matCellDef="let row; let i = index;" [ngClass]="'w-30'">{{i + 1}}</mat-cell>
			</ng-container>

			<ng-container matColumnDef="userName">
				<mat-header-cell *matHeaderCellDef [ngClass]="'w-200'" class="left-right"> Nazwa użytkownika </mat-header-cell>
				<mat-cell *matCellDef="let row" [ngClass]="'w-200'" class="left-right">
					{{row.userName}}
					<mat-icon color="primary"
							  *ngIf="row.extraInfo && row.extraInfo!=' '"
							  style="cursor: pointer;"
							  tooltip="{{row.extraInfo}}"
							  [options]="tooltipOptions">
						description
					</mat-icon>
				</mat-cell>
			</ng-container>

			<ng-container matColumnDef="solved">
				<mat-header-cell *matHeaderCellDef [ngClass]="'w-200'"> Rozwiązane zagwozdki </mat-header-cell>
				<mat-cell *matCellDef="let row" [ngClass]="'w-200'">{{row.solved}}</mat-cell>
			</ng-container>

			<ng-container matColumnDef="programmingLanguage">
				<mat-header-cell *matHeaderCellDef [ngClass]="'w-200'"> Język programowania </mat-header-cell>
				<mat-cell *matCellDef="let row" [ngClass]="'w-200'">{{row.programmingLanguage}}</mat-cell>
			</ng-container>

			<mat-header-row *matHeaderRowDef="['index', 'userName', 'solved', 'programmingLanguage']"></mat-header-row>
			<mat-row *matRowDef="let row; columns: ['index', 'userName', 'solved', 'programmingLanguage']; let i = index"
					 style="min-height: 30px"
					 [ngStyle]="{ background: (row.userName == userName) ? '#D4EDC9' : '' }">
			</mat-row>
		</mat-table>
	</mat-tab>
</mat-tab-group>
