<app-nav-menu (toggleSidenav)="navigationSidenav.toggle()"></app-nav-menu>
<mat-drawer-container class="example-container" autosize>
	<mat-drawer #navigationSidenav class="example-sidenav" mode="side">
		<ul class="menu-hover-fill">
			<li><a data-text="strona główna">strona główna</a></li>
			<li><a routerLink="/account" routerLinkActive="active" data-text="profil">profil</a></li>
			<li><a routerLink="/problem-list" routerLinkActive="active" data-text="zagadki">zagadki</a></li>
			<li><a data-text="statystyki">statystyki</a></li>
			<li><a data-text="kontakt">kontakt</a></li>
		</ul>
	</mat-drawer>

	<router-outlet>	</router-outlet>
</mat-drawer-container>
