<mat-toolbar color="primary" class="app-header" fxLayout="row">
	<button mat-icon-button (click)="toggleSidenav.emit()">
		<mat-icon>menu</mat-icon>
	</button>
	<div>
		<a routerLink="home" class="positronx">Zagwozdka</a>
	</div>
	<span class="nav-tool-items" *ngIf="!(LoginStatus$ | async) as LoginStatus">
    	<a mat-button routerLink="login" routerLinkActive="active" *ngIf="LoginStatus">Zaloguj się</a>
    	<a mat-button mat-raised-button routerLink="register" routerLinkActive="active" *ngIf="LoginStatus">Zarejestruj się</a>
	</span>
	<span class="nav-tool-items" *ngIf="(LoginStatus$ | async) as LoginStatus">
    	<a mat-button mat-raised-button (click)="onLogout()" *ngIf="LoginStatus">Wyloguj się</a>
	</span>
</mat-toolbar>
