<div *ngFor="let post of posts">
	<div class="center-actions" style=" text-align: right; overflow: hidden">
		<a *ngIf="post.isOwner" (click)="onEdit(post.postId)">
			Edytuj
		</a>
		&nbsp;
		<a *ngIf="post.isOwner" (click)="onDelete(post.postId)">
			Usuń
		</a>
		&nbsp;
		<a (click)="onReport(post.postId)">
			Zgłoś
		</a>
		&nbsp;
		<button mat-button (click)="onLike(post.postId)" [disabled]="post.isOwner">
			<mat-icon *ngIf="!post.isLiked">thumb_up</mat-icon>
			<mat-icon *ngIf="post.isLiked" color="primary">thumb_up</mat-icon>
		</button>
		{{post.likes}}
	</div>
	<mat-card style="background-color: powderblue" class="center">
		<div style="overflow: hidden; margin: -5px 0 6px 0">
			<div style="float: left">
				{{post.userName}}
				{{post.programmingLanguage}}
			</div>
			<div style="float: right">
				{{post.postDate | date : "medium"}}
			</div>
		</div>
		<mat-card style="margin: 0 -16px -16px -16px">
			<div *ngIf="!post.isEditable">
				{{post.content}}
			</div>
			<div *ngIf="post.isEditable">
				<form [formGroup]="editPostFormModel" (ngSubmit)="onEditPost(post.postId)" autocomplete="off" class="example-form">
					<mat-form-field style="width: 100%">
						<mat-label>Edytuj post</mat-label>
						<textarea matInput
								  cdkTextareaAutosize
								  cdkAutosizeMinRows="1"
								  formControlName="Content">
						</textarea>
					</mat-form-field>
					<button mat-stroked-button color="primary" class="btn-block" style="float: right">Prześlij</button>
				</form>
			</div>
		</mat-card>
	</mat-card>
</div>
<mat-card class="center">
	<form [formGroup]="postFormModel" (ngSubmit)="onAddPost()" autocomplete="off" class="example-form">
		<mat-form-field style="width: 100%">
			<mat-label>Nowy post</mat-label>
			<textarea matInput
					  cdkTextareaAutosize
					  cdkAutosizeMinRows="1"
					  formControlName="Content">
			</textarea>
		</mat-form-field>
		<button mat-stroked-button color="primary" class="btn-block" style="float: right">Dodaj nowy post</button>
	</form>
</mat-card>
