<mat-card *ngFor="let post of posts" class="center" style="background-color: powderblue">
	<div style="overflow: hidden;">
		<div style="float: left">
			{{post.userName}}
			{{post.programmingLanguage}}
		</div>
		<div style="float: right">
			<button mat-button (click)="onLike(post.postId)" [disabled]="post.isOwner">
				<mat-icon *ngIf="!post.isLiked">thumb_up</mat-icon>
				<mat-icon *ngIf="post.isLiked" color="primary">thumb_up</mat-icon>
			</button>
			{{post.likes}}
		</div>
	</div>
	<mat-card style="margin: 0 -16px -16px -16px">
		{{post.content}}
	</mat-card>
</mat-card>

<mat-card class="center">
	<form [formGroup]="postFormModel" (ngSubmit)="onAddPost()" autocomplete="off" class="example-form">
		<mat-form-field style="width: 100%">
			<mat-label>Nowy post</mat-label>
			<textarea matInput
					  cdkTextareaAutosize
					  cdkAutosizeMinRows="1"
					  formControlName="Content">
			</textarea>
		</mat-form-field>
		<button mat-stroked-button color="primary" class="btn-block" style="float: right">Dodaj nowy post</button>
	</form>
</mat-card>
