<div class = "category">
	<mat-form-field appearance="fill">
		<mat-label>Kategoria</mat-label>
		<img matPrefix class="icon" src="../../../assets/img.png" alt="cube">
		<mat-select [(value)]="defaultTag" (selectionChange) = "onCategoryChange($event.value)">
			<mat-option *ngFor = "let tag of tags" [value] = "tag.tagId">
				{{tag.tagName}}
			</mat-option>
		</mat-select>
	</mat-form-field>
</div>
<div>
	<div class="center">
		<mat-table [dataSource]="dataSource" matSort>
			<ng-container matColumnDef="problemId">
				<mat-header-cell *matHeaderCellDef [ngClass]="'w-75'" mat-sort-header> Id </mat-header-cell>
				<mat-cell *matCellDef="let row" [ngClass]="'w-75'"> {{row.problemId}} </mat-cell>
			</ng-container>

			<ng-container matColumnDef="title">
				<mat-header-cell *matHeaderCellDef> Tytuł </mat-header-cell>
				<mat-cell *matCellDef="let row" style="justify-content: normal;">
					<a routerLink="/problem/{{row.problemId}}">
						{{row.title}}
					</a>
				</mat-cell>
			</ng-container>

			<ng-container matColumnDef="difficulty">
				<mat-header-cell *matHeaderCellDef [ngClass]="'w-100'" mat-sort-header> Poziom trudności </mat-header-cell>
				<mat-cell *matCellDef="let row" [ngClass]="'w-100'"> {{row.difficulty}}% </mat-cell>
			</ng-container>

			<ng-container matColumnDef="solvedBy">
				<mat-header-cell *matHeaderCellDef [ngClass]="'w-100'" mat-sort-header> Rozwiązało </mat-header-cell>
				<mat-cell *matCellDef="let row" [ngClass]="'w-100'"> {{row.solvedBy}} </mat-cell>
			</ng-container>

			<ng-container matColumnDef="releaseDate">
				<mat-header-cell *matHeaderCellDef mat-sort-header> Data wydania </mat-header-cell>
				<mat-cell *matCellDef="let row"> {{row.releaseDate | date: "MM/dd/yyyy HH:mm:ss"}} </mat-cell>
			</ng-container>

			<mat-header-row *matHeaderRowDef="['problemId', 'title', 'difficulty', 'solvedBy', 'releaseDate']"></mat-header-row>
			<mat-row *matRowDef="let row; columns: ['problemId', 'title', 'difficulty', 'solvedBy', 'releaseDate']" [ngStyle]="{ background: (row.isSolved) ? '#D4EDC9' : '' }"></mat-row>
		</mat-table>
	</div>
	<div class="center">
		<mat-paginator [pageSizeOptions]="[5, 10, 15, 25, 50]" showFirstLastButtons  style="max-width: 45%"></mat-paginator>
	</div>
</div>

